* {
  margin: 0px;
  padding: 0px;
}
#heading {
  text-align: center;
}
#center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#content-table {
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 1em;
  width: 67em;

}
#content-table thead tr {
  background-color: #009879;
  color: whitesmoke;
  text-align: left;
  font-weight: bold;
}
#content-table th,
td {
  padding: 12px 5px;
}
#content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
#content-table tbody tr:nth-of-type(even){

    background-color: #f3f3f3;

}
/* #m{
    width: 179px;
    
} */